*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

body{
    background-image: url("img/bg.PNG");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
form{
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con opacidad del 10% */
    padding: 20px 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}
.form-group{
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
label{
    margin: 10px;
}
input{
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo de los campos */
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
}

.button{
    background-color: #e57373; /* Color de fondo para "Entrar" */
    border-radius: 150px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    color: white;
}
.button > input{
    background-color:none; /* Color de fondo para "Entrar" */
    font-weight: 600;
}

.entrar:hover,
.registrarse:hover {
    opacity: 0.8;
}