*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: animate 10s linear infinite;
    background-size: 400%;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 300% 0;
    }
    100%{
        background-position: 0 0;
    }
}

input{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
}
div{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: animate 10s linear infinite;
    background-size: 400%;
}
form{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: animate 10s linear infinite;
    background-size: 400%;
}
